<h3>Pagina principla</3>
	<p>Bienvenido a la pagina de <%=@propietario.nombre%></p>
	<p>Yo naci : <%=@propietario.fechacumple%></p>
	<p>Y me quedan unicamente <%= @propietario.conteo%> dias para mi cumple</p>
